@tailwind base;
@tailwind components;

[data-theme="darkTheme"] {
    --Main-background-color: #171616;
    --Secondary-background-color: #404040;
    --secondary-hover-background-color: #2e2e2e;
    --Input-background-color: #2f2f2f;
    --overlay-background-color: #40404012;
    --Header-primary-text-color: #ffffff;
    --Header-secondary-text-color: #e5e5e5;
    --Paragraph-text-color: #e0e0e0;
    --paragraph-secondary-text-color: #c2c2c2;
    --button-text-color: #262626;
    --button-background-color: #f1f5f9;
    --border-color: #a3a3a3;
    --border-color-2: #646464;


}





@tailwind utilities;


.MessageContainer::-webkit-scrollbar {
    width: 0.3rem;
}

.MessageContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

.MessageContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


.messageInput::-webkit-scrollbar {
    width: 0.1rem;
}